/* SHAME
 * Use this for quick-fixes
 */

// removes a drupal link after comfirmation webform 'terug naar het formulier'
.links {
    display: none;
}

/* HEADER */
.primary-content header .title {
    font-size: 2.83em;
}



// adjust drupal header size
@media screen and (min-width: 576px){
    .primary-content header .title,
    h2.pane-title {
        //width: 510px;
        max-width: 100%;
        margin: 0 auto 1.2rem auto;
    }
}
@media screen and (min-width: 768px){
    .primary-content header .title,
    h2.pane-title {
        //width: 690px;
        max-width: 100%;
        margin: 0 auto 1.2rem auto;
    }
}
@media screen and (min-width: 992px){
    .primary-content header .title,
    h2.pane-title {
        //width: 930px;
        max-width: 100%;
        margin: 0 auto 1.2rem auto;
    }
}
@media screen and (min-width: 1200px){
    .primary-content header .title,
    h2.pane-title {
        //width: 1110px;
        max-width: 100%;
        margin: 0 auto 1.2rem auto;
    }
}


// THEATHER VOOR ELKAAR
#theater-banner {
    min-height: 24vh;
    background-size: cover;
    background-position: top center;
    background-image: url("/files/tve-small.jpg");
}

@media screen and (max-width: 768px) {
    #theater-webform .node-webform,#doemee-webform .node-webform {
        max-width:540px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    #theater-banner,#doemee-banner {
        position:relative;
        width: 100%;
        top: auto;
        display: block;
    }

    #doemee-banner {
        background-image: url("/files/doemee_front_max-1980.jpg");
        height: 100vh;
    }

    #theater-banner {
        background-image: url("/files/g_TVE.jpg");
        height: 130vh;
    }

    #doemee-webform {
        position: absolute;
        border: 1px solid #ddd;
        box-shadow: 0 0 12rem rgba(0,0,0,0.1);
        max-width: 400px;
        margin: 68px;
        top: 0;
        right: 0;
    }
}
