/* SIMPLE ACCORDION */
// requires main.js

// Style the buttons that are used to open and close the accordion panel
.accordion {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 0.75rem;
  width: 100%;
  text-align: left;
  border: 1px solid #bbb;
  border-radius: 4px;
  outline: none;
  transition: 0.4s;
}
.accordion,
.accordion-panel p {
  font-size: .85rem;
}

// Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
.accordion.active,
.accordion:hover {
  background-color: #dcdcdc;
}

// Style the accordion panel. Note: hidden by default
.accordion-panel {
  padding: .75rem 1.75rem;
  background-color: #f1f1f1;
  display: none;
  overflow: hidden;
}

// OPEN & CLOSE BUTTON
button.accordion:before {
    content: '>'; // open
    margin-right: 0.5rem;
    display: inline-block;
    transition: .2s ease;
    color: #ec1b23;
}

button.accordion.active:before {
    transform: rotate(90deg);
}