/* BADGE */
.badge {
	display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    //font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    //border-radius: .25rem;
}
.badge-primary {
	color: #fff;
	background: blue;
}
.badge-secondary {
	color: #fff;
	background: grey;
}
.badge-success {
	color: #fff;
	background: green;
}
.badge-danger {
	color: #fff;
	background: red;
}
.badge-warning {
	color: #000;
	background: yellow;
}
.badge-info {
	color: #fff;
	background: teal;
}
.badge-light {
	color: #fff;
	background: lightgrey;
}
.badge-dark {
	color: #fff;
	background: #222;
}
.badge-default {
	color: #fff;
	background: $default;
}