/* DOE MEE PAGE */
#doemee-banner {
    min-height: 24vh;
    background-size: cover;
    background-position: top center;
    background-image: url("/files/doemee_front_max-768.jpg");
}
#doemee-webform {
    background: #fff;
    padding: 0 32px;

    fieldset {
        padding: 0 0 16px 0;
    } 
    .intro {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    #doemee-webform .node-webform {
        max-width: 540px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    #doemee-banner {
        position: relative;
        height: 100vh;
        width: 100%;
        top: auto;
        display: block;
        background-image: url("/files/doemee_front_max-1980.jpg");
    }
    #doemee-webform {
        position: absolute;
        border: 1px solid #ddd;
        box-shadow: 0 0 12rem rgba(0,0,0,.1);
        max-width: 400px;
        margin: 80px;
        top: 0;
        right: 0;
          
    }
}

/*
.page-doemee .primary-content .panel-2 {
    background: #fff;
    margin-top: 0;
    margin-bottom: 60px;
}
.page-doemee #doemee-banner {
    min-height: 170px;
    background-size: cover;
}
.page-doemee .form-actions {
    text-align: center;
}
.page-doemee .node-webform {
    //padding: 0 16px; // some extra padding
}
.page-doemee .form-item label {
    margin: 0;
}

@media screen and (min-width: 400px){
    .page-doemee #doemee-banner {
        min-height: 230px;
    }
}
@media screen and (min-width: 768px){
    .page-doemee #doemee-banner {
        min-height: 300px;
    }
}
@media screen and (min-width: 990px){
    .page-doemee #doemee-banner {
        min-height: 515px;
    }
    .page-doemee input.webform-previous,
    .page-doemee input.button-primary {
        min-width: 100%; // overwrite webform.scss
    }
    .page-doemee .primary-content .panel-2 {
        margin-top: 110px;
    }
}
*/
