/* FIGURE */
figure {
	margin: 0 auto 16px auto;
	width: 100%;
}
figcaption {
	margin-top: 4px;
	color: #bbb;
}
figure img {
	border: 1px solid #ccc;
}
@media screen and (min-width:320px){
	figure {
		margin: 0 16px 16px 0;
		width: 50%;
	}
	.image-right figure {
		float: right;
		margin-left: 16px;
	}
	.image-left figure {
		float: left;
		margin-right: 16px;
	}
	.image-left figcaption {
		text-align: left;
	}
	.image-right figcaption {
		text-align: right;
	}
}
@media screen and (min-width:576px){
	figure {
		width: auto;
		margin-bottom: 0;
	}
	figure img {
		//max-width: 200px;
		max-width: 140px; // quickfix lilian
		width: auto;
	}
}