/* FOOTER */

@mixin decorative-tomato {
    font-family: $sp-icons;
    content: 'T';
    line-height: 1;
    display: block;
    height: 48px;
    color: $color1;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 64px;
}
footer {
    img.site-logo {
        max-height: 50px;
        width: auto;
    }
    h1 {
        font-size: 1rem;
        letter-space: 1px;
        font-family: $font-middle;
        margin-bottom: 5px;
    }
    p {
        font-size: 1rem;
    }
    a {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0 0 32px 0;
    }
    li {
        list-style: none;
    }
    li a {
        font-size: 0.8rem;
        letter-spacing: 1px;
        padding: 2px 0;
        color: #000;
        display: inline-block;
    }
    li a:hover {
        color: $color1;
        text-decoration: none;
    } // Only shows if there is a block in footer
    .container {
        background: #fff;
        padding-top: 16px;
        &:after {
            @include decorative-tomato;
        }
    }
    .footer-menu a {
        font-size: 1rem;
    }
}
// SHORT FOOTER
.footer-short {
    text-align: center;
    color: #aaa;
    background: #fafafa;
    padding: 1rem;
    padding-top: 2.1rem; //margin-top: 3rem;
    padding-bottom: 0;
    &:after {
        @include decorative-tomato;
    }
}
.footer-short p {
    font-size: .8rem;
}
.footer-short a {
    color: #888;
}