/* GRADIENTS */
// https://uigradients.com

.orange-coral {
  background: #ff9966;
  background: -webkit-linear-gradient(left, #ff9966, #ff5e62);
  background: linear-gradient(to right, #ff9966, #ff5e62);
}
