/* GRADIENTS */
// https://uigradients.com

.background-orange-coral {
  background: #ff9966;
  background: -webkit-linear-gradient(left, #ff9966, #ff5e62);
  background: linear-gradient(to right, #ff9966, #ff5e62);
}

.background-midnight-city {
  background: #232526;
  background: -webkit-linear-gradient(left, #232526, #232526);
  background: linear-gradient(to right, #232526, #232526);
}
