/* LEAFLET */
//SHAME
.leaflet-container {
	margin-bottom: 1rem;
	font-family: $font-body;
}
.leaflet-control-container .leaflet-top {
	top: auto;
	bottom: 30px;
}
.leaflet-clickable {
	cursor: pointer;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill-rule: evenodd;
    stroke: #b55757;
    stroke-opacity: 0.5;
    stroke-width: 1;
    fill: #d86969;
    fill-opacity: 0.2;
}

//END SHAME
.leaflet-popup-content-wrapper {
	border-radius: 0;
}
.leaflet-popup-content h1 {
	font-size: 1rem;
}
.leaflet-container .leaflet-popup-content a {
	color: #000;
	text-decoration: none;
}
.leaflet-container .leaflet-popup-content a:hover {
	color: $color1;
}
.leaflet-tagged-marker i {
	font-family: $font-icons;
	color: #fff;
}