/* LEAFLET */
//SHAME
.leaflet-control-container .leaflet-top {
	top: auto;
	bottom: 30px;
}
.leaflet-clickable {
	cursor: pointer;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill-rule: evenodd;
    stroke: #b55757;
    stroke-opacity: 0.5;
    stroke-width: 1;
    fill: #d86969;
    fill-opacity: 0.2;
}

//END SHAME
.leaflet-container {
	font-family: $font-body;
	font-size: .8rem;
	line-height: 1.5;
	p {
		font-size: .8rem;
		line-height: 1.5;
	}
}
.leaflet-popup-content-wrapper {
	border-radius: 0;
}
.leaflet-popup-content h1,
.leaflet-popup-content h2 {
	font-size: 1.2rem;
}
.leaflet-container .leaflet-popup-content h1 a,
.leaflet-container .leaflet-popup-content h2 a {
	color: $color1;
	text-decoration: none;
}
.leaflet-container .leaflet-popup-content h1 a:hover,
.leaflet-container .leaflet-popup-content h2 a:hover {
	color: #000;
}
.leaflet-tagged-marker i {
	//font-family: $font-icons;
	color: #fff;
}