/* LOGO */
// needs work
.site-logo {
    min-height: 26px;
}

a#logo svg {
    height: 60px;
    max-width: 50px; // prevents centerering for IE
    position: absolute;
    top: 8px;
    z-index: 3;
    margin-left: -8px;
}
@media screen and (min-width: 576px) {
    a#logo svg {
        height: 100px;
        max-width: 84px; // prevents centering for IE
        margin-left: -16px;
    }
    .site-logo {
    min-height: 32px;
    }
}