/* SPRUIT PANELS */
#spruit-panels {
    background: $color3-bg;
    padding:30px 0;
}
.spruit-panel {
    background: #fff;
    transition: all .2s ease;
    padding: 15px 15px 30px 15px;
    max-width: 300px; //set a max-width for xs (needs to be better)
    margin-left: auto; //center panel for xs
    margin-right: auto;
    cursor: pointer;
}
.spruit-panel:hover {
    box-shadow: 0 0 6px 0 rgba(7,7,33,.2);
    margin-top: -15px;
}
.spruit-panel:hover h1 {
    color:$color1;
}
.spruit-panel img {
    width: calc(100% + 30px);
    height: auto;
    margin: -15px;
    padding-bottom: 20px;
}

