// STICKYFOOTER
// requires js/stickyfooter.js

#stickyfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $color1;
    padding: 8px;
    text-align: center;
    z-index: 10;
    transform: translate(0%, 100%);
    transition: .4s ease all;
}
#stickyfooter.open {
	transform: translate(0%, 0%);
}
#stickyfooter .btn {
	border: none; // removes default border
        min-width: 320px;
        max-width: 640px;
        width: 100%;
}
@media (min-width: 767px){
	#stickyfooter {
		display: none;
	}
}

