/* WEBFORM */
.webform-component-textarea .grippie { 
    display: none; //removes module gripbar for old browsers
}
/*
input {
    transition: ease .5s all;
}
input.valid {
    border-left: 4px solid green!important;
}
*/
legend {
    font-size: 1.5rem;
    font-family: $font-primary;
    text-transform: uppercase;
}
fieldset {
    border: none;
    padding: 16px 0;
    margin: 0;
}
.form-actions {
    //padding: 0 16px;
    margin: 0;
    text-align: right;
}
.form-item {
    margin-top: 0;
    margin-bottom: 16px;
}
.form-select {
    padding: 8px;
    font-family: $font-strong;
    font-size: 1rem;
    background: #fafafa;
    border:1px solid #ddd;
}
.form-item label {
    margin-bottom: 6px;
    font-weight: normal;
    font-family: $font-middle;
    letter-spacing: .3px;
}
@media screen and (min-width: 768px){
    .form-item label {
        font-size: 1.125rem;
    }
}
.webform-component-checkboxes {
    margin-top: 24px;
}
.form-checkboxes .form-item,
.form-radios .form-item {
    display: table; // to prevent label text wrapping underneath
}
.form-item .description {
    font-size: 0.85em;
    color: #bbb;
    padding-top: 5px;
}

.form-item .form-text,
.form-item .form-textarea {
    max-width:100%;
    width: 100%;
    padding: 16px;
    background: #fafafa;
    border:1px solid #ddd;
    color: #333;
    font-family: $font-strong;
}
.form-radios {
    padding-left: 5px;
}
.form-type-checkbox input[type="checkbox"] + label {
    display: table-cell; // to prevent label text wrapping underneath
    padding-top: 10px; // to prevent label text wrapping underneath
}
.form-type-checkbox input[type="checkbox"] {
    display: none;
}
.form-type-checkbox input[type="checkbox"] + label:before {
    display: inline-block;
    font-family: 'SPruit-icons';
    content: 'v';
    color: #fff;
    background: #fff;
    padding: 6px;
    margin-right: 8px;
    border: 2px solid #333;
    font-size: 1rem;
    display: table-cell; // to prevent label text wrapping underneath
    float: left; // to prevent label text wrapping underneath
    margin-top: -8px; // to prevent label text wrapping underneath
}
.form-type-checkbox input:checked + label:before {
    content: 'v';
    color: $color1!important; //important prevents hover state
    background: #fff;
    border-color: $color1;
}
.form-type-checkbox input:checked + label {
    color: $color1;
}
.no-touch .form-type-checkbox:hover input + label:before {
    color: #aaa;
}
.form-item .form-select:focus,
.form-item .form-textarea:focus,
.form-item .form-text:focus, {
    outline:none; //disable browser default focus
    box-shadow:0 0 5px 0 #c8c8c8;
    border: 1px solid #888;
}
input.form-submit,
input.webform-previous,
input.button-primary {
    font-family: $font-primary;
    text-transform: uppercase;
    background: $color1;
    padding: 16px 32px;
    color: #fff;
    border: 1px solid $color1;
    transition: all 0.2s ease;
    outline:none; //disable browser default focus
    cursor: pointer;
    min-width: 200px;
}
input.webform-previous {
    background: #fff;
    color: $color1;
}
input.webform-previous:hover,
input.button-primary:hover {
    background:#000;
    color:#fff;
    border-color:#000;
}
    
@media only screen and (max-width:500px){
    .form-submit {
      width:100%;
      margin-bottom:8px;
    }
}

/* WEBFORM INLINE-ERROR */
div.error {
    background-repeat: no-repeat;
    padding-left: 27px;
    line-height: 27px;
    background-position-x: 2px;
    background-position-y: 2px;
    display: block;
}