/* WORD LID DOE MEE PAGE */

// SHAME
.page-node-14 .content-header,
.page-node-15 .content-header,
.page-node-16 .content-header {
    display: none; //removes title on confirmation page
}
.primary-content .page-wordlid, // for confirmation page
.primary-content .page-directlid, // for confirmation page
.page-wordlid .primary-content,
.page-directlid .primary-content {
    background: #f1f1f1; //needs to be fixed and not on whole page
    padding: 1px; //prevent margin collapse #wordlid-formulier
}
// END SHAME

#wordlid-formulier {
    background: #fff;
    padding: 30px;
    max-width: 960px;
    margin: 60px auto 110px auto;
    box-shadow: $box-shadow;
}
#wordlid-formulier img.banner {
    width: calc(100% + 60px);
    height: auto;
    margin: 0 -30px;
}
#wordlid-formulier img {
    width: 100%;
}
#wordlid-formulier .form-item {
    margin-bottom: 5px;
}
#wordlid-formulier .form-item.webform-component-radios {
    margin-bottom: 15px; // extra margin for radio items
}
#wordlid-formulier .form-actions {
    max-width: 470px;
    margin: 0 auto;
    padding-right: 25px;
    text-align: right;
}
#wordlid-formulier .form-actions input {
    width: 150px;
    padding: 1rem 0; //overwrite left-right padding to align text in center propperly for fixed width buttons
}
#wordlid-formulier legend {
    margin-left: -15px;
    font-size: 1.5rem;
}
#wordlid-formulier .webform-component-fieldset {
    max-width: 470px;
    border: none;
    padding: 15px 0;
    margin: 15px auto;
    font-family: "HelveticaNeueLTStd-BdCn", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    font-size: 1.125rem;
}
// make form label and input inline
#wordlid-formulier .webform-component-textfield label,  //could be beter!
#wordlid-formulier .webform-component-date label,
#wordlid-formulier .webform-component-email label,
#wordlid-formulier .webform-component-select label,
#wordlid-formulier .webform-component-number label,
#wordlid-formulier .webform-component-phone label {
    display: inline-block;
    width: 140px;
}
#wordlid-formulier .form-item .form-text,
#wordlid-formulier .form-item .form-select {
    display: inline-block;
    width: 300px;
}
#wordlid-formulier .form-item .form-select.day,
#wordlid-formulier .form-item .form-select.month,
#wordlid-formulier .form-item .form-select.year {
    width: 97px;
}
@media screen and (max-width: 365px) {
    #wordlid-formulier .form-item .form-select.day,
    #wordlid-formulier .form-item .form-select.month,
    #wordlid-formulier .form-item .form-select.year {
        width: 80px;
        font-size: .8em;
    }
}



#wordlid-formulier .form-item-submitted-cadeau-welkomstcadeau {
    width: 32%;
    display: inline-block;
    text-align: center;
}

// FORM SUBMITTED PAGE
#wordlid-formulier .webform-success {
    max-width: 470px;
    margin: 0 auto;
}

// INLINE-ERROR
@media screen and (min-width:500px){
    #wordlid-formulier div.error {
        margin-left: 143px;
        max-width: 300px;
    }
}

// MOBILE
@media screen and (max-width:500px){
    #wordlid-formulier .webform-component-textfield label,  //could be better!
    #wordlid-formulier .webform-component-date label,
    #wordlid-formulier .webform-component-email label,
    #wordlid-formulier .webform-component-select label,
    #wordlid-formulier .webform-component-number label,
    #wordlid-formulier .webform-component-phone label {
        display: block; //remove inline from labels
        width: 130px;
    }
    #wordlid-formulier .form-item .form-text,
    #wordlid-formulier .form-item .form-select {
        width: 100%; //set input to full width
    }
    #wordlid-formulier .form-actions {
        padding-right: 0; //remove extra padding for buttons
    }
    #wordlid-formulier .form-actions input {
        width: 50%; //set button with to 50% to align two next eachother
    }
    // FORM SUBMITTED PAGE
    #wordlid-formulier .btn {
        width: 100%;
    }
}
