/* TYPOGRAPHY */
@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Condensed|Lato);
//$font-title: 'Roboto Slab', serif;
//$font-body: 'Roboto', sans-serif;
//$font-body: 'Lato', sans-serif;

$font-primary: 'HelveticaInseratLTPro';
$font-strong: 'HelveticaNeueLTStd-Md','Helvetica Neue',Helvetica,'Roboto Sans','Segoe UI',Arial,'Lucida Grande',sans-serif;
$font-middle: 'HelveticaNeueLTStd-BdCn','Helvetica Neue',Helvetica,'Roboto Sans','Segoe UI',Arial,'Lucida Grande',sans-serif;
$font-body: 'HelveticaNeueLT-Light','Helvetica Neue',Helvetica,'Roboto Sans','Segoe UI',Arial,'Lucida Grande',sans-serif;
$font-icons: 'SPruit-icons';
