/* VARIABLES */

// THEME
$color1: #EC1B23; //red sp.nl

$color1-bg: #fff;
$color2-bg: #f1f1f1;
$color3-bg: #ddd;

// TYPOGRAPHY
//@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Condensed|Lato);
//$font-title: 'Roboto Slab', serif;
//$font-body: 'Roboto', sans-serif;
//$font-body: 'Lato', sans-serif;

$font-primary: 'HelveticaInseratLTPro', sans-serif;
$font-strong: 'HelveticaNeueLTStd-Md','Helvetica Neue',Helvetica,'Roboto Sans','Segoe UI',Arial,'Lucida Grande',sans-serif;
$font-middle: 'HelveticaNeueLTStd-BdCn','Helvetica Neue',Helvetica,'Roboto Sans','Segoe UI',Arial,'Lucida Grande',sans-serif;
$font-body: 'HelveticaNeueLT-Light','Helvetica Neue',Helvetica,'Roboto Sans','Segoe UI',Arial,'Lucida Grande',sans-serif;
$font-icons: 'FontAwesome';
$sp-icons: 'SPruit-icons';

// DEFAULT BOX-SHADOW
$box-shadow: 0 0 7px 0 #e6e6e6;

// SOCIAL MEDIA
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;
$whatsapp: #4dc247;
$snapchat: #fffc00;
$instagram: #125688;
$youtube: #bb0000;
$googleplus: #dd4b39;
$dropbox: #007ee5;

$email: $color1;